# Notebook 2 : Pandas avancé

In [1]:
import pandas as pd

## Tennis

Nous considérons les données des résultats des matchs de tennis masculin des tournois de Roland Garros et Wimbledon en 2013. La liste des variables et leur signification se trouvent sur [cette page](https://archive.ics.uci.edu/dataset/300/tennis+major+tournament+match+statistics) dans la section *Additional Variable Information*.

1. Commencer par charger le jeu de données relatif au tournoi de Roland Garros dans un dataframe `rg` à partir du fichier `rolandgarros2013.csv`.

In [3]:
rg = pd.read_csv("/home/onyxia/work/formation_cepe/data/rolandgarros2013.csv")
print(rg.head())

               Player1                  Player2  Round  Result  FNL.1  FNL.2  \
0  Pablo Carreno-Busta            Roger Federer      1       0      0      3
1     Somdev Devvarman  Daniel Munoz-De La Nava      1       1      3      0
2         Tobias Kamke            Paolo Lorenzi      1       1      3      2
3     Julien Benneteau        Ricardas Berankis      1       1      3      1
4          Lukas Lacko              Sam Querrey      1       0      0      3

   FSP.1  FSW.1  SSP.1  SSW.1  ...  BPC.2  BPW.2  NPA.2  NPW.2  TPW.2  ST1.2  \
0     62     27     38     11  ...      7      7     14     18     88      6
1     62     54     38     22  ...      1     16     22     25    106      3
2     62     53     38     15  ...     10     18     19     27    139      3
3     72     87     28     19  ...      4     13     33     43    149      6
4     52     31     48     22  ...      4      7     12     13     93      6

   ST2.2  ST3.2  ST4.2  ST5.2
0      6    6.0    NaN    NaN
1      3    5.0    NaN    NaN
2      3    6.0    6.0    3.0
3      3    7.0    6.0    NaN
4      6    6.0    NaN    NaN

[5 rows x 42 columns]

2. Afficher les noms des demi-finalistes.

In [4]:
rg[rg.Round==6]

,Player1,Player2,Round,Result,FNL.1,FNL.2,FSP.1,FSW.1,SSP.1,SSW.1,...,BPC.2,BPW.2,NPA.2,NPW.2,TPW.2,ST1.2,ST2.2,ST3.2,ST4.2,ST5.2
122,David Ferrer,Jo-Wilfried Tsonga,6,1,3,0,60,35,40,23,...,2,5,7,16,84,1,6,2.0,NaN,NaN
123,Novak Djokovic,Rafael Nadal,6,0,2,3,67,76,33,30,...,8,16,15,26,177,6,3,6.0,6.0,9.0

3. Calculer le nombre moyen d'aces par match dans le tournoi.

In [14]:
rg["ACE_sum"]=rg["ACE.1"] + rg["ACE.2"]
rg["ACE_sum"].mean()

np.float64(12.688)

4. Combien y a-t-il eu d'aces par match en moyenne à chaque niveau du tournoi ?

In [15]:
print( # Remarquer la syntaxe de cet exemple
rg
.groupby(rg.Round)
.agg( # NamedAgg permet de nommer les agrégations
nb_aces=pd.NamedAgg(column="ACE_sum", aggfunc="mean")
)
)

         nb_aces
Round
1      13.476190
2      13.193548
3      12.562500
4       9.125000
5       7.000000
6      10.000000
7       6.000000

5. Filtrer les matchs pour lesquels au moins une des variables `DBF.1` et `DBF.2` est manquante.

In [ ]:
rg["DBF.1"].isna()

0      False
1      False
2      False
3      False
4      False
       ...
120    False
121    False
122    False
123    False
124    False
Name: DBF.1, Length: 125, dtype: bool

6. Remplacer les valeurs manquantes de `DBF.1` par zéro avec la méthode `loc`.

7. Remplacer les valeurs manquantes de `DBF.2` par zéro avec la méthode `fillna`.

8. Extraire la liste des participants à partir des colonnes `Player1` et `Player2`. Une façon de faire consiste à utiliser `concat` et la méthode `drop_duplicates` pour obtenir le résultat sous la forme d'une série et de la convertir en dataframe avec la méthode `to_frame`.

9. Écrire une fonction `n_match` qui prend une chaîne de caractères `joueur` en entrée et retourne le nombre de matchs disputés par le joueur.

10. Utiliser les deux question précédentes et la méthode `apply` pour compter le nombre de matchs que chaque participant a disputé et ordonner le résultat par ordre décroissant.

11. Charger maintenant le jeu de données relatif au tournoi de Wimbledon dans un dataframe `wb` à partir du fichier `wimbledon2013.csv`.

12. Ajouter une colonne `Tournoi` dans les dataframes `rg` et `wb` contenant respectivement les chaînes de caractères `"RG"` et `"WB"`.

13. Concaténer les deux dataframes dans un nouveau dataframe `tennis`.

14. Utiliser le dataframe `tennis` pour comparer le nombre moyen d'aces par match à chaque niveau du tournoi à Roland Garros et à Wimbledon. Afficher le résultat en format large.

15. Quelle différence y a-t-il dans le format des noms des joueurs entre les dataframes `rg` et `wb` ?

16. Construire un dataframe `rg_victoires` avec les trois colonnes suivantes pour le tournoi de Roland Garros :
- `joueur` : nom du joueur tel qu'il est donné dans `rg`,
- `nom_joueur` : nom de famille du joueur uniquement,
- `n_victoire` : nombre de matchs gagnés dans le tournoi.

17. Construire un dataframe `wb_victoires` avec les trois colonnes suivantes pour le tournoi de Wimbledon :
- `joueur` : nom du joueur tel qu'il est donné dans `wb`,
- `nom_joueur` : nom de famille du joueur uniquement,
- `n_victoire` : nombre de matchs gagnés dans le tournoi.

18. Faire une jointure entre `rg_victoires` et `wb_victoires` sur la colonne `nom_joueur` pour comparer le nombre de victoires par tournoi pour chaque joueur. Expliquer la différence de résultat selon que la jointure est à gauche, à droite, intérieure ou extérieure.