# Notebook 6 : MongoDB

In [ ]:
# Décommenter la ligne suivante pour installer pymongo
#%pip install pymongo

Collecting pymongo
  Downloading pymongo-4.12.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.12/site-packages (from pymongo) (2.7.0)
Downloading pymongo-4.12.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 15.5 MB/s eta 0:00:00
Installing collected packages: pymongo
Successfully installed pymongo-4.12.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import json

import pandas as pd
import pymongo

client = pymongo.MongoClient('mongodb://user-mlepennec-ensae:sp46mp0necz5l0hqslpd@mongodb-0.mongodb-headless:27017,mongodb-1.mongodb-headless:27017/defaultdb')

db = client.defaultdb

## Planètes de Star Wars

Nous considérons ici les données des planètes de *Star Wars* exportées à la fin du *Notebook 4*. Le fichier `planets.json` est également disponible dans le dossier des jeux de données.

1. Accéder à une collection `planets` et s'assurer qu'elle est vide grâce à la méthode `count_documents`.

In [4]:
planets = db["planets"]
planets.count_documents({})

0

2. Importer les données des planètes dans la collection `planets`.

In [5]:
with open("planets.json", "r") as f:
    documents = [json.loads(document) for document in f.readlines()]
planets.insert_many(documents)
print(f"Taille de planets : {planets.count_documents({})}")

Taille de planets : 60

3. Exporter l'ensemble des planètes sans l'identifiant `_id` dans un dataframe à l'aide du résultat de la méthode `find`.

In [6]:
(
    pd.DataFrame(
        planets.find(projection={"_id": False})
    )
    .head()
)

,edited,climate,surface_water,name,diameter,rotation_period,created,terrain,gravity,orbital_period,population,residents,films,url
0,2014-12-20T20:58:18.411Z,arid,1,Tatooine,10465,23,2014-12-09T13:50:49.641Z,desert,1 standard,304,200000,[],[],/api/planets/1
1,2014-12-20T20:58:18.420Z,temperate,40,Alderaan,12500,24,2014-12-10T11:35:48.479Z,"grasslands, mountains",1 standard,364,2000000000,[],[],/api/planets/2
2,2014-12-20T20:58:18.421Z,"temperate, tropical",8,Yavin IV,10200,24,2014-12-10T11:37:19.144Z,"jungle, rainforests",1 standard,4818,1000,[],[],/api/planets/3
3,2014-12-20T20:58:18.423Z,frozen,100,Hoth,7200,23,2014-12-10T11:39:13.934Z,"tundra, ice caves, mountain ranges",1.1 standard,549,unknown,[],[],/api/planets/4
4,2014-12-20T20:58:18.425Z,murky,8,Dagobah,8900,23,2014-12-10T11:42:22.590Z,"swamp, jungles",N/A,341,unknown,[],[],/api/planets/5

4. Rechercher les planètes dont la période de rotation est égale à 25. Quel est le problème ? Combien y en a-t-il ?

In [7]:
planets_filtre = list(planets.find(filter={"rotation_period": "25"}))
print(f"{len(planets_filtre)} planètes")
print(planets_filtre)

5 planètes
[{'_id': ObjectId('6824a184c3d8a9ffa937afa7'), 'edited': '2014-12-20T20:58:18.449Z', 'climate': 'temperate, moist', 'surface_water': 'unknown', 'name': 'Cato Neimoidia', 'diameter': '0', 'rotation_period': '25', 'created': '2014-12-10T13:46:28.704Z', 'terrain': 'mountains, fields, forests, rock arches', 'gravity': '1 standard', 'orbital_period': '278', 'population': '10000000', 'residents': [], 'films': [], 'url': '/api/planets/18'}, {'_id': ObjectId('6824a184c3d8a9ffa937afab'), 'edited': '2014-12-20T20:58:18.456Z', 'climate': 'temperate', 'surface_water': '70', 'name': 'Corellia', 'diameter': '11000', 'rotation_period': '25', 'created': '2014-12-10T16:49:12.453Z', 'terrain': 'plains, urban, hills, forests', 'gravity': '1 standard', 'orbital_period': '329', 'population': '3000000000', 'residents': [], 'films': [], 'url': '/api/planets/22'}, {'_id': ObjectId('6824a184c3d8a9ffa937afae'), 'edited': '2014-12-20T20:58:18.461Z', 'climate': 'temperate', 'surface_water': 'unknown', 'name': 'Dantooine', 'diameter': '9830', 'rotation_period': '25', 'created': '2014-12-10T17:23:29.896Z', 'terrain': 'oceans, savannas, mountains, grasslands', 'gravity': '1 standard', 'orbital_period': '378', 'population': '1000', 'residents': [], 'films': [], 'url': '/api/planets/25'}, {'_id': ObjectId('6824a184c3d8a9ffa937afb2'), 'edited': '2014-12-20T20:58:18.468Z', 'climate': 'arid', 'surface_water': 'unknown', 'name': 'Trandosha', 'diameter': '0', 'rotation_period': '25', 'created': '2014-12-15T12:53:47.695Z', 'terrain': 'mountains, seas, grasslands, deserts', 'gravity': '0.62 standard', 'orbital_period': '371', 'population': '42000000', 'residents': [], 'films': [], 'url': '/api/planets/29'}, {'_id': ObjectId('6824a184c3d8a9ffa937afbf'), 'edited': '2014-12-20T20:58:18.491Z', 'climate': 'temperate', 'surface_water': 'unknown', 'name': 'Haruun Kal', 'diameter': '10120', 'rotation_period': '25', 'created': '2014-12-20T10:12:28.980Z', 'terrain': 'toxic cloudsea, plateaus, volcanoes', 'gravity': '0.98', 'orbital_period': '383', 'population': '705300', 'residents': [], 'films': [], 'url': '/api/planets/42'}]

5. Même question mais en limitant la réponse aux clés `name`, `rotation_period`, `orbital_period` et `diameter`.

In [8]:
planets_filtre = pd.DataFrame(
planets.find(
filter={"rotation_period": "25"},
projection={"_id" : False, "name": True, "roration_period": True, "orbital_period" : True, "diameter" : True}
)
)
planets_filtre

             name diameter orbital_period
0  Cato Neimoidia        0            278
1        Corellia    11000            329
2       Dantooine     9830            378
3       Trandosha        0            371
4      Haruun Kal    10120            383

6. Trier les planètes du résultat précédent par diamètre décroissant. Quel est le problème ?

In [10]:
planets_filtre = pd.DataFrame(
planets.find(
filter={"rotation_period": "25"},
projection={"_id" : False, "name": True, "roration_period": True, "orbital_period" : True, "diameter" : True},
sort=[
("diameter", pymongo.DESCENDING)
],

)
)
planets_filtre

             name diameter orbital_period
0       Dantooine     9830            378
1        Corellia    11000            329
2      Haruun Kal    10120            383
3  Cato Neimoidia        0            278
4       Trandosha        0            371

7. Vider la collection et importer à nouveau les données mais en faisant les corrections suivantes au préalable (un dataframe intermédiaire pourra être utilisé pour manipuler les données avant leur insertion) :
- convertir les valeurs numériques (gérer les cas `unknown`),
- supprimer les variables `created`, `edited`, `films`, `gravity`, `residents` et `url`.
- transformer les variables `climate` et `terrain` en listes de chaînes de caractères plutôt qu'une longue chaîne séparée par des virgules.

8. Reprendre la question 6 et vérifier que le résultat est maintenant correct.

9. Extraire les planètes dont le nom commence par `T`.

10. Extraire les planètes dont le diamètre est strictement supérieur à 10000 et où se trouvent des montagnes.

11. Rechercher puis supprimer la planète dont le nom est `unknown`.

12. Mettre en œuvre un pipeline d'agrégation qui calcule le nombre de planètes dans la collection. Verifier le résultat avec la méthode `count_documents`.

13. Mettre en œuvre un pipeline d'agrégation pour calculer le diamètre moyen et la somme des populations des planètes contenant des glaciers.